<!doctype html>
<html lang="en">
    <head>
        <title>Web Developer, Will Johnson</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="template_css.css" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon_32.png">
    </head>

		<section>
			<img src="images/solutions_architect.png" id="front_page_badge" alt="AWS cloud practitioner badge">
		</section>
	
    <body>
        <div class="display">

            

            <div class="lower_tablet">
                <div class="homepage_text">
                    <h3 class="my_title">Web Developer</h3>
                    <h1 class="my_name">William S. Johnson, Jr</h1>
                    <h3 class="my_llc">Iron In The Fire, LLC</h3>
                    <p class="my_blurb">
                        A resourceful Developer with a tenacious approach to Web Development 
                        and Cloud Computing
                    </p>
                </div>
                <div class="mug_frame">
                    <img src="../images/my_mug_2.png" class="mug_shot" alt="Me">
                </div>
                <div>
                    <p>This is just a template</p>
                    <br>
                    <p>I didn't get this far</p>
                </div>
               
            </div>

        </div>
		
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="dark_theme.js"></script>
    </body>
</html>
