@charset "utf-8";
/* CSS Document */

*		{	box-sizing: border-box;}

#gallery            {   width: 80%;
                        margin: auto;
}

.column             {   width: 33%;
                        float: left;
}
.weekly_lesson      {   margin-bottom: -1%;}
.attachments        {   margin-top: -1%;}

a:link               {  color: #000000;}
a:visited            {  color: #000000;}
a:hover              {  color: #0000ff;
                        font-size: 105%;
}
